{% extends "./content.html" %}
{% load bootstrap4 %}
{% load static %}


{% block subcontent %}
    <div class="content_header_wrapper d-flex flex-row justify-content-between">
        <div class="content_wrapper_title_deadline d-flex flex-row">
            <div class="content_title d-flex flex-row justify-content-start">
                <span class="tasks_header align-self-center">Title</span>
            </div>
            <div class="content_deadline d-flex flex-row justify-content-center">
                <span class="tasks_header align-self-center">Deadline</span>
            </div>
        </div>
    </div>
        {% for task in data %}
            <div class="wrapper_for_line_content d-flex flex-row justify-content-between">
                <div class="wrapper_content_button d-flex flex-row justify-content-center">
                    <a class="content_group_buttons d-flex justify-content-center general_button align-self-center"
                       href="{% url 'delete' %}?task_id={{ task.id }}"
                    >
                        <i class="fas fa-crosshairs align-self-center"></i>
                    </a>
                </div>
                <button class="tasks_wrapper_title_deadline"
                   data-toggle="collapse"
                   data-target="#descript{{ task.id }}"
                   aria-expanded="false"
                   aria-controls="descript{{ task.id }}"
                >
                        <span class="content_title align-self-center perenos d-flex justify-content-start">{{ task.title }}</span>
                        <span class="content_deadline align-self-center d-flex justify-content-center">{{ task.deadline }}</span>
                </button>
            </div>
            <div id="descript{{ task.id }}"
                 class="collapse">
                <div class="d-flex flex-row justify-content-start">
                    <div class="done_content_description">
                        <span class=" align-self-center perenos">{{ task.task | safe | linebreaks }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="wrapper_for_line_content d-flex flex-row justify-content-between">
                <div class="wrapper_content_button d-flex flex-row justify-content-center">
                    <a class="content_group_buttons d-flex justify-content-center general_button align-self-center"
                       href=""
                    >
                        <i class="fas fa-crosshairs align-self-center"></i>
                    </a>
                </div>
                 <button class="tasks_wrapper_title_deadline"
                   data-toggle="collapse"
                   data-target="#descript"
                   aria-expanded="false"
                   aria-controls="descript"
                >
                        <span class="content_title align-self-center perenos d-flex justify-content-start">Task title</span>
                        <span class="content_deadline align-self-center d-flex justify-content-center">Task deadline</span>
                </button>
            </div>
            <div id="descript"
                 class="collapse"
                 aria-labelledby="task"
            >
                <div class="d-flex flex-row justify-content-start">
                    <div class="done_content_description">
                        <span class=" align-self-center perenos">Task description</span>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}