{% extends "./main_template.html" %}
{% load bootstrap4 %}


{% block content %}
    <div class="d-flex flex-column w-100">
        <div class="d-flex flex-row justify-content-center"
             style="margin-bottom: 5px">
            <a
                    href="{% url 'new_task' %}"
                    class="general_button group_of_buttons d-flex justify-content-center"
            >
                <span class="align-self-center">NewTask</span>
            </a>
            <div class="dropdown group_of_buttons">
                <button
                        type="button"
                        class="general_button d-flex justify-content-center dropdown-toggle"
                        data-toggle="dropdown"
                        id="dropdownMenuButton"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <span class="align-self-center">
                        <i class="fas fa-user-astronaut"></i>{{ nickname }}
                    </span>
                </button>
                <div class="dropdown-menu"
                     aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item d-flex justify-content-center"
                       href="{% url 'auth_change_pass' %}"
                    >
                        <span class="align-self-center">ChangePass</span>
                    </a>
                    <a class="dropdown-item d-flex justify-content-center"
                       href="{% url 'logt' %}">
                        <span class="align-self-center">GoodBye</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center" style="flex: 1 0 auto">
            <div class="wrapper_of_content d-flex flex-column w-75 justify-content-center">
                <div class="d-flex flex-row justify-content-center"
                     style="margin-bottom: 5px">
                    <a href="{% url 'content' %}"
                       class="general_button group_of_buttons">
                        <span>NotDone</span>
                    </a>
                    <a href="{% url 'archive' %}"
                       class="general_button group_of_buttons">
                        <span>Done</span>
                    </a>
                </div>
                {% block subcontent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}