<!DOCTYPE html>
<html>
    <body style="display: block;">
        <div style="display: block">
            <span style="font-size: medium">
                {% if action == 'Activate' %}
                    Hi, it's your task manager<br>
                    If you want to activate your account
                {% elif action == 'Password' %}
                    Hi, it's your task manager.
                    I yo want to change your password...
                {% endif %}
            </span>
        </div>
        <div style="display: block; height: 15px"></div>
        <div style="display: block">
            <a style="color:black;
                       background-color: rgba(232, 178, 83, 0.35);
                      font-size: medium;
                      border: solid black 1px;
                      border-radius: 5px;
                      padding: 5px;
                      text-decoration: none"
               type="button"
               href="http://{{ domain }}{% url 'approve' action=action uidb64=uid token=token %}"
            >
                Click here
            </a>
        </div>
    </body>
</html>
