{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
        <meta name="yandex-verification" content="ad099bff70d661f7" />
        <title>Do or Pie</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
        <link rel="stylesheet" href="{% static 'styles/all.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100 w-100">
        <header class="d-flex flex-row justify-content-center">
            <a href="{% url 'main_page' %}" class="d-flex flex-column text-center">
                <span id="header_big">
                    Do or Pie
                </span>
                <span id="header_small">
                    You'r personal task manager
                </span>
            </a>
        </header>
        <main class="d-flex flex-row justify-content-center">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="d-flex justify-content-center">
            <span class="text-center">
                Created by @CrackedSkull team
            </span>
        </footer>
    </body>
</html>