{% extends "./main_template.html" %}
{% load  static %}

{% block content %}
    <div class="wrapper_width w-50 d-flex flex-column justify-content-center" style="font-size: xx-large; color: black">
        {% if name %}
            <span class="error_width align-self-center">
                {{ name }}
            </span>
        {% endif %}
        {% if pic %}
            <div class="align-self-center">
                <img alt="ERROR" src="{% static pic %}" >
            </div>
        {% endif %}
        <div class="error_width align-self-center">
            {{ message }}
        </div>
    </div>
{% endblock %}