{% extends "./main_template.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class ="wrapper_width d-flex flex-column w-25 align-self-center">
        <form action="" method="post">{% csrf_token %}
            {% if not form.email %}
                {% bootstrap_field form.new_password1 label_class='label_out' %}
                <ul class="help_text">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
                {% bootstrap_field form.new_password2 label_class='label_out' %}
                <ul class="help_text">
                    <li>Insert the same password</li>
                </ul>
                <button type="submit" class="w-100 general_button individual_button">Change Pass</button>
            {% else %}
                {% bootstrap_field form.email label_class='label_out' %}
                <ul class="help_text">
                    <li>Insert your account email</li>
                </ul>
                <button type="submit" class="w-100 general_button individual_button">Send me a link</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
