{% extends "./main_template.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="wrapper_width d-flex flex-column w-25 align-self-center">
        <form class="d-flex flex-column justify-content-center" action="" method="post">{% csrf_token %}
            {% bootstrap_field form.email label_class='label_out' %}
            {% bootstrap_field form.password1 label_class='label_out' %}
            <ul class="help_text">
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
            {% bootstrap_field form.password2 label_class='label_out' %}
            <ul class="help_text">
                <li>Insert the same password</li>
            </ul>
            <button type="submit" class="w-100 general_button individual_button">Register me please!</button>
        </form>
    </div>
{% endblock %}