{% extends "./main_template.html" %}
{% load bootstrap4 %}


{% block content %}
    <div class ="wrapper_task_work d-flex flex-column w-50 align-self-center">
    {% if add %}
        <form action="" method="post" class="d-flex flex-column justify-content-center">{% csrf_token %}
            {% bootstrap_field form.title %}
            {{ form.media }}
            {% bootstrap_field form.task %}
            {% bootstrap_field form.deadline %}
            <button  type="submit" class="general_button individual_button">ADD</button>
        </form>
    {% else %}
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_field form.title %}
            {{ form.media }}
            {% bootstrap_field form.task %}
            {% bootstrap_field form.deadline %}
            <input type="hidden" name="task_id" value="{{ task_id }}">
            <button type="submit" class="w-100 general_button individual_button">Change task!</button>
        </form>
    {% endif %}
    </div>
{% endblock %}