{% extends "./main_template.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="wrapper_welcome d-flex w-50 flex-column align-self-center">
        <p class="welcome_label">
            My respect, Dear!
        </p>
        <p class="welcome_label">
            Our project help you not to keep in mind all things
            for today. With us, your action plan is always with
            you. If you forget something, we will remind you. Thanks
            to us, your productivity will increases.
        </p>
        <form action="" method="post" class="d-flex align-self-center flex-wrap flex-row">{% csrf_token %}
            <div class="wrapper_welcome_inputs d-flex flex-row">
                {% bootstrap_field form.username label_class='label_out' form_group_class='welcome_input' %}
                <div class="welcome_password_wrapper d-flex flex-column">
                    {% bootstrap_field form.password label_class='label_out' form_group_class='welcome_input' %}
                    <a class="forgot_link" href="{% url 'change_pass_email' %}">Forgot password?</a>
                </div>
            </div>
            <div class="wrapper_welcome_button d-flex flex-row">
                <button  type="submit"
                         class="welcome_button general_button individual_button align-self-start d-flex justify-content-center"
                >
                    <span class="align-self-center">LogIn</span>
                </button>
                <a class="welcome_button general_button individual_button align-self-start d-flex justify-content-center"
                   href="{% url 'reg' %}"
                >
                    <span class="align-self-center">SignUp</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}