/* Main parts */
header {
    font-family: 'Merriweather', serif;
    background-color: rgba(232, 178, 83, 0.35);
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
}

main {
    font-family: 'Roboto', sans-serif;
    position: relative;
    flex: 1 0 auto;
    padding: 10px 10px 10px 10px;
}

main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../background.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.04;
    z-index: -1;
}

footer {
    font-family: 'Merriweather', serif;
    background-color: rgba(232, 178, 83, 0.35);
    border-top: 1px black solid;
    flex: 0 0 auto;
}

/* Headers elements */
#header_big {
    color: black;
    font-weight: 800;
    font-size: 3rem;
}

#header_small {
    color: black;
    font-size: 1rem;
}

/* Footer elements */
footer > span {
    color: black;
    font-size: 1rem;
}

/* All buttons and links will be without underline and outline */
a,
button,
button:active,
button:focus,
button:hover,
a:active,
a:focus,
a:hover
{
    text-decoration: none;
    outline: none;
}

/* All forms */
form
{
    margin: 10px;
}

.label_out
{
    display: none;
}

.help_text
{
    color: dimgrey;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
}

/* All inputs */
.form-control
{
    min-width: 200px;
    min-height: 30px;
    color: black;
    border-color: black;
}

.form-control:focus
{
    border: 1px solid rgba(246, 74, 70, 0.5);
    background-color: rgba(232, 178, 83, 0.35);
    color: black;
    outline: 0;
    box-shadow: none;
}

/* Buttons */
.general_button
{
    min-width: 30px;
    min-height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 1em;
    font-weight: 400;
}

.general_button:hover,
.general_button:active
{
    cursor: pointer;
    background-color: rgba(232, 178, 83, 0.35);
    color: black;
    box-shadow: 0 0 0 0.2rem rgba(162, 24, 20, 0.25);
    border-color: rgba(246, 74, 70, 0.5);
}

.group_of_buttons
{
    margin: 0 0 0 5px;
}

.group_of_buttons:last-child
{
    margin-right: 5px;
}

.content_group_buttons
{
    margin: 0 0 0 5px;
}

.content_group_buttons:last-child
{
    margin-right: 5px;
}

/* Welcome */
.welcome_label
{
    color: black;
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
}

.welcome_input
{
    min-width: 200px;
    min-height: 38px;
    margin-right: 5px;
}

button.welcome_button
{

    margin-right: 5px
}

.welcome_button
{
    min-height: 38px;
    min-width: 65px;
}

.forgot_link
{
    color: black;
    text-decoration: none;
    font-size: small;
}

.forgot_link:hover
{
    color: rgba(246, 74, 70, 0.5);
}

/* Menu Content */
.dropdown-menu
{
    padding: 0 !important;
    transform: translate3d(0, 38px, 0) !important;
    min-width: 100% !important;
    border: 1px solid black !important;
    border-top: 0 !important;
    border-radius: 0 0 5px 5px !important;
}

.dropdown-item
{
    padding: 5px 0 5px 0 !important;
}

.dropdown-item > span
{
    font-size: 1em !important;
    font-weight: 400 !important;
}

.dropdown-item:hover
{
    background-color: rgba(232, 178, 83, 0.35) !important;
}

.dropdown-item:first-child
{
    border-bottom: 1px solid black !important;
}

/* Task content */
.content_header_wrapper
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.content_wrapper_title_deadline
{
    flex-grow: 1;
}

.tasks_header
{
    font-weight: 400;
}

.wrapper_content_button
{
    min-width: 85px;
}

.tasks_wrapper_title_deadline
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    border: 0 ;
    border-bottom: 1px solid black;
    background: none;
    padding: 0;
}

.tasks_wrapper_title_deadline:hover,
.tasks_wrapper_title_deadline:active{
    cursor: pointer;
    background-color: rgba(232, 178, 83, 0.35);
    color: black;
    box-shadow: 0 0 0 0.2rem rgba(162, 24, 20, 0.25);
    border-color: rgba(246, 74, 70, 0.5);
    border-radius: 5px;
}

.content_title {
    flex-grow: 1;
}

.content_deadline
{
    min-width: 105px;
}

.content_finish
{
    min-width: 75px;
}

.wrapper_for_line_content {
    margin-top: 10px;
}

.content_description
{
    flex-grow: 1;
    margin-left: 85px;
    margin-right: 75px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    padding: 5px;
}

.done_content_description
{
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    margin-left: 85px;
    padding: 5px;
}

.perenos,
.invalid-feedback
{
    word-break: break-word;
}

@media (min-width:768px) and (max-width:1199px) {
    /* Welcome */
    .wrapper_welcome {
        width: 75% !important;
    }

    .wrapper_welcome > form {
        width: 100% !important;
        flex-direction: row !important;
    }

    .wrapper_welcome_inputs
    {
        width: 100% !important;
        justify-content: space-around;
    }

    .welcome_input
    {
        margin: 0 !important;
    }

    .welcome_button
    {
        width: 45% !important;
        margin-right: 0 !important;
    }

    .wrapper_welcome_button
    {
        width: 100% !important;
        justify-content: space-around;
    }

    .forgot_link
    {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
                align-self: start !important;
    }

    /* Sign up form */
    .wrapper_width
    {
        width: 50% !important;
    }

    /* Content */
    .wrapper_of_content
    {
        width: 75% !important;
    }

    /* Add and Change task */
    .wrapper_task_work
    {
        width: 75% !important;
    }

    /* Error pages */
    .error_width
    {
        width: 100% !important;
    }
}

@media (max-width:767px) {
    /* Welcome */
    .wrapper_welcome {
        width: 100% !important;
    }

    .wrapper_welcome > form {
        width: 100% !important;
        flex-direction: column !important;
    }

    .wrapper_welcome_inputs
    {
        flex-direction: column !important;
        width: 100% !important;
    }

    .welcome_password_wrapper
    {
        margin-top: 10px !important;
    }

    .welcome_input
    {
        margin: 0 !important;
    }

    .welcome_button
    {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .welcome_button:first-child
    {
        margin-bottom: 10px;
    }

    .wrapper_welcome_button
    {
        width: 100% !important;
        flex-direction: column !important;
    }

    .forgot_link
    {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        align-self: start !important;
    }

    /* wrappers for content, email, change pass */
    .wrapper_width
    {
        width: 100% !important;
    }

    /* Content */
    .wrapper_of_content
    {
        width: 100% !important;
    }

    .wrapper_content_button
    {
        flex-direction: column!important;
    }

    .content_group_buttons
    {
        margin: 0!important;
        min-width: 65px !important;
    }

    .content_group_buttons:first-child
    {
        margin-bottom: 5px!important;
    }

    .done_button
    {
        min-width: 50px !important;
        min-height: 50px !important;
    }

    /* Add and Change task */
    .wrapper_task_work
    {
        width: 100% !important;
    }

    /* Error pages */
    .error_width
    {
        width: 100% !important;
    }
}
